<%= render partial: 'shared/blog_header', locals: { :item => @feature_blog } %>

<div class="row">
  <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      New Blog
    </h3>

    <%= render 'form', blog: @blog, btnName: 'Add Blog' %>

    <%= link_to 'Back', blogs_path %>

  </div>

  <%= render partial: 'blogs/sidebar' %>

</div>
