.col-md-4

  .card.mb-4.box-shadow{ :data => { :id => "#{portfolio_item.id}" } }

    = image_tag(portfolio_item.thumb_image, height: '200px') unless portfolio_item.thumb_image.nil?

    .card-body.text-center

      %span= link_to portfolio_item.title, portfolio_show_path(portfolio_item)
      %br/
      = portfolio_item.subtitle