%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading Project Portfolio
    %p.lead.text-muted HTML/CSS, Ruby on Rails, C#/ASP.Net, JavaScript, SQL, and more.
    The projects in this portfolio contain work that features a wide range
    of coding technologies. Feel free to look and move things around if you like...
    %p
      = link_to 'Learn More', about_path, class: 'btn btn-primary my-2'
      = link_to 'Contact Me', contact_path, class: 'btn btn-secondary my-2'