<h1 class="cover-heading">My Story</h1>
<br/>
<p>I picked up coding back in 2015 and have not been able to put computers down since. I have always had a love for all things technology, but when I found coding, I felt like I finally found what I was meant to do with my life.</p>

<p>I harnessed that passion that I have for coding to graduate from the Iron Yard's 12 Week immersive coding bootcamp in August of 2017, with a specialization in Ruby on Rails. It was a very challenging and beneficial experience that pushed me evey step of the way. However, with my love for coding and my ambition to be the best at anything I do, I was able to graduate as one of the top three students in the class.</p>

<p>Shortly after graduating from the Iron Yard, I found work through freelancing. After a few months of independent work, I gained employment with Preferred Population Health Management in late 2017; where I am currently employed. Here I gained proficiency with coding with C#/ASP.NET, as well as database management while preforming full-stack development responsibilities.</p>
