<div class="app-card-container">
  <div class="card">
    <h1 class="cover-heading">My Story</h1>

    <hr/>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag('E54B8287.jpg', alt: 'Profile Image', width: '250px', class: 'profile-img') %>
      </div>
      <div class="col-md-8 text-left">
        <p>I picked up coding back in 2015 and have not been able to put computers down since. I have always had a love for all things technology, but when I found coding, I felt like I finally found what I was meant to do with my life.</p>

        <p>I harnessed that passion that I have for coding to graduate from the Iron Yard's 12 Week immersive coding bootcamp in August of 2017, with a specialization in Ruby on Rails. It was a very challenging and beneficial experience that pushed me evey step of the way. However, with my love for coding and my ambition to be the best at anything I do, I was able to graduate as one of the top three students in the class.</p>

        <p>Shortly after graduating from the Iron Yard, I found work through freelancing. After a few months of independent work, I gained employment with Preferred Population Health Management in late 2017; where I am currently employed. Here I gained proficiency with coding with C#/ASP.NET, as well as database management while preforming full-stack development responsibilities.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>
          <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controls="education"
          >
            Education
          </button>

        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <h6>Preferred Population Health Management - Software Developer</h6>
              <span class="job-dates">
                November 2017 - Present
              </span>
            </div>
            <div class="card card-block">
              <h6>The Iron Yard - Software Developer</h6>
              <span class="job-dates">
                May 2017 - November 2017
              </span>
            </div>
            <div class="card card-block">
              <h6>City Gear - Store Manager</h6>
              <span class="job-dates">
                February 2015 - May 2017
              </span>
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              <h6>The Iron Yard Coding Academy</h6>
              <span class="job-dates">
                May 2017 - August 2017
                <br/>
                Cartification in Back End Development
              </span>
            </div>
            <div class="card card-block">
              <h6>Ivy Tech Community College</h6>
              <span class="job-dates">
                August 2015 - Present
                <br/>
                Associate Degree - Business Management
              </span>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
